
<div style="padding-top: 4px;"></div>
<h2 style="color: #7F96CF;">{{ page.title_page }}:</h2>
<hr style="width: 40%;margin-left:0px;margin-top: -2px;border-top: 2px solid #ccc;">
<!-- <small>{{ page.title }}</small> -->

{% if category %}
{% assign posts = paginator.posts | default: site.posts %}

<ul class="posts-list list-unstyled" role="list">

  {% for post in site.categories[category] %}

  {% assign mod = forloop.index | modulo:2 %}
  {% if mod == 0 %}
    {% assign color = "255,0,0,0" %}
  {% else %}
    {% assign color = "250,248,248,0.5" %}
  {% endif %}

<li class="post-preview" style="background-image: linear-gradient(to right, white,rgba({{color}}) 20%);"> 
  <article>
    <div class="job-entry" id="{{forloop.index}}" style="cursor: pointer;">
    <h2 class="post-title">{{ post.title | strip_html }}</h2>
    <small>
      {% assign date_format = site.date_format | default: "%d-%m-%Y" %}
      Publicado: {{ post.date | date: date_format }}
    </small>

    {% if post.description %}
    <div class="post-entry"><strong></strong> {{ post.description | strip_html }}</div>
    {% endif %}

  </div><!--clickeable-->
    <div id="job-details-{{forloop.index}}" style="display: none;">
        {% if post.company %}
        <div class="post-entry"><strong>Empresa:</strong> {{ post.company | strip_html }}</div>
        {% endif %}

        {% if post.requirements %}
        <div class="post-entry"><strong>Requisitos:</strong> </div>
        <ul>
          {% assign requisitos = post.requirements | split: "-" %}
          {% for requisito in requisitos %}
          <li>
            {{- requisito -}}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="post-entry" style="margin-top: 5px;"><strong>Contacto:</strong><br />
          {% if post.contact_whatsapp %}
          <a href="https://api.whatsapp.com/send?phone=507{{ post.contact_whatsapp | strip_html }}"
              target="_blank"><div style="display: inline-flex;"><img src="/assets/img/icon-whatsapp.svg" width="20px" alt="WhatsApp">&nbsp;{{
              post.contact_whatsapp | strip_html }}</div></a>
          {% endif %}
          {% if post.contact_phone %}
          {{ post.contact_phone | strip_html }}<br />
          {% endif %}
          {% if post.contact_email %}
          <a href="mailto:{{ post.contact_email | strip_html }}"><div style="display: inline-flex;"><img src="/assets/img/icon-mail.svg" width="20px" alt="email">&nbsp;{{ post.contact_email | strip_html }}</div></a>
          <br />
          {% endif %}
          {% if post.contact_url %}
            <a href="{{ post.contact_url | strip_html }}"
              target="_blank"><div style="display: inline-flex;"><img src="/assets/img/icon-url.svg" width="20px" alt="URL">&nbsp;{{ post.contact_url | truncate: 40 }}</div></a>
          {% endif %}
        </div>
    </div>
  </article>
</li>
  {% else %}
  <div class="alert alert-warning" role="alert">
    <strong>No se encontraron empleos bajo esta categoría.</strong><br>
    <i class="fas fa-info-circle"></i> Intenta una búsqueda mediante palabra clave.
  </div>
  {% endfor %}

</ul>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Nuevos"></i>
      <span class="d-none d-sm-inline-block">Nuevos</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Antiguos</span>
      <i class="fas fa-arrow-right" alt="Antiguos"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
{% else %}
No se ha definido una categoría
{% endif %}