---
layout: null
---

/* --- General --- */

html {
  font-size: 100%
}

body {
  /*font-family: "Figtree", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1875rem;
  color: #606060;
  position: relative;
  background-color: #fff;
  overflow-wrap: break-word;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > main {
  flex: 1;
}
p {
  line-height: 1.5;
  margin: 1.875rem 0;
}
h1,h2,h3,h4,h5,h6 {
  /*font-family: "Vazirmatn", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  line-height: 1.1;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h1, h2, h3, h4 {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}
a {
  text-decoration: none;
  color: #008AFF
}
a:hover,
a:focus {
  color: #223B7A;
}

hr.small {
  max-width: 6.25rem;
  margin: 1rem auto;
  border-width: 0.25rem;
  border-color: inherit;
  border-radius: 0.1875rem;
}

/* fix in-page anchors to not be behind fixed header */
:target:before {
  content: "";
  display: block;
  height: 3.125rem; /* navbar height */
  margin: -3.125rem 0 0;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background-color: {{ site.hover-col | default: "#0085A1" }};
}
::selection {
  color: #fff;
  text-shadow: none;
  background-color: {{ site.hover-col | default: "#0085A1" }};
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}

img {
  max-width: 100%;
}

.linked-section {
  padding-top: 3.75rem;
  margin-top: -1.5625rem;
}



/*button{
  margin-top: 1px;
  display: block;
  background-color: #e41d3f;
  color: white;
  border:none;
  outline: none;
  padding: 2px 5px;
  text-transform: capitalize;
  cursor: pointer;
}*/

/* Styles for wrapping the search box */
.current-view{
  background-image: linear-gradient(to right, white,rgba(240, 250, 207, 0.3) 50%);
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
padding-left: 2.375rem;
}

.has-search .form-control-feedback {
position: absolute;
z-index: 2;
display: block;
width: 2.375rem;
height: 2.375rem;
line-height: 2.875rem;
text-align: center;
pointer-events: none;
color: #aaa;
}

.home-cover-brand{

  /*font-family: "Figtree", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  font-size: 48px;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #463801, #e0c47e 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;

}


/* Comments */


/* --- Navbar --- */

/* --- Footer --- */

footer {
  padding: 1.875rem 0;
  border-top: 1px #EAEAEA solid;
  margin-top: 3.125rem;
  font-size: 0.875rem;
  background-color: #F7F8FC;
}

footer p.text-muted {
  color: {{ site.footer-text-col | default: "#777777" }} !important;
}

footer a {
  color: {{ site.footer-link-col | default: "#404040" }};
}

footer a:hover,
footer a:focus {
  color: {{ site.footer-hover-col | default: "#0085A1" }};
}

footer .list-inline {
  margin: 0;
  padding: 0;
  margin-bottom: 1.875rem;
}
footer .copyright {
  /*font-family: "Figtree", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 100;
}
footer .theme-by {
  text-align: center;
  margin: 0.625rem 0 0;
}
footer .footer-custom-content {
  text-align: center;
  margin-bottom: 0.9375rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
}

@media (min-width: 768px) {
  footer {
    padding: 3.125rem 0;
  }
  footer .footer-links {
    font-size: 1.125rem;
  }
  footer .copyright {
    font-size: 1rem;
  }
  footer .footer-custom-content {
    font-size: 1rem;
  }
}

/* --- Post preview (feed) --- */

.posts-list {
    margin: 0;
}

.post-preview {
  padding: 1.25rem 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

@media (min-width: 768px) {
  .post-preview {
    padding: 2.1875rem 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  /*font-family: "Figtree", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  color: {{ site.text-col | default: "#000" }};
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
}

.post-preview .post-title {
  font-size: 1.875rem;
  margin-top: 0;
  font-weight: 800;
  color: #233c7b;
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.post-preview .post-meta,
.post-heading .post-meta {
  color: #808080;
  font-size: 1.125rem;
  font-style: italic;
  margin: 0 0 0.625rem;
  /*font-family: "Figtree", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
}
.post-heading .post-meta {
  display: inline-block;
}
@media (max-width: 767px) {
  .post-heading .post-meta {
    display: block;
    margin-bottom: 0;
  }
}

.post-preview .post-entry{
  width: 100%;
  margin-top: 0.4rem;
  color: #606060;
  font-weight: 100;
}

.title-heading h1, .title-guide{
  /*font-family: "Vazirmatn", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  color: #7A3222;
  font-size: 1.875rem;
  font-weight: 100;
}

.header-section{
  background-color: #fff;
}


@media (min-width: 768px) {
  .post-preview .post-title {
    /*font-size: 2.25rem;*/
    font-size: 1.875rem;
  }
  .header-section{
    background: url(/assets/img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    background-position: center center
  }

}

/* --- Tags --- */

/* Tags page */

/* --- Post and page headers --- */

.intro-header {
  margin: 3rem 0 1.25rem;
  position: relative;
}


.intro-header .page-heading {
  text-align: center;
}

.intro-header .page-heading h1 {
  margin-top: -20px;
  font-size: 2.5rem;
  letter-spacing: -2px;
}
.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 2.1875rem;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 1.6875rem;
  line-height: 1.1;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  margin: 0.625rem 0 0;
}

@media (min-width: 1200px) {
  .intro-header {
    margin-top: 8.125rem;
  }
  .intro-header .page-heading h1 {
    font-size: 3.125rem; 
    margin-top: -90px;
    letter-spacing: -2px;
  }
  .intro-header .post-heading h1 {
    font-size: 3.125rem;
  }

}

/* --- Pagination --- */

.pagination {
  margin: 0.625rem 0 0;
  justify-content: space-between;
}

.pagination.blog-pager {
  margin-top: 0;
}

.pagination .page-item.next {
  margin-left: auto;
}

@media (min-width: 768px) {
  .pagination.blog-pager {
    margin-top: 0.625rem;
  }
}

.pagination .page-item .page-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0.625rem 0.3125rem;
  background-color: #FFF;
  border-radius: 0;
  color: {{ site.text-col | default: "#404040" }};
  padding: 0.75rem 1rem;
}
@media (min-width: 768px) {
  .pagination .page-item .page-link {
    padding: 0.9375rem 1.5625rem;
  }
}
.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  color: #FFF;
  border: 1px solid {{ site.hover-col | default: "#0085A1" }};
  background-color: {{ site.hover-col | default: "#0085A1" }};
}

/* --- Tables --- */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */

/* Fix table border github gist snippets */

/* --- Social media sharing section --- */

/* --- Notification boxes --- */

/* --- Misc blog post styles --- */


.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.form-group {
  margin-bottom: 1rem;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #7d8080;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -10px;
}

.btn-primary {
  margin: 0px;
  font-size: 24px;
  width: 40px;
  height: 38px;
  padding: 0px;
  background: #7A3222;
  color: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
}
.btn-primary:hover {
  background: #bc5842;
  color: #fff;
  transition: 0.5s;
}
.btn-primary:focus {
  box-shadow: 0 0 0 5px rgba(224, 224, 225, 0.5)
}



















.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #233c7b;
  /*background: linear-gradient(to left, #f46b45, #eea849);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 2em;

}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  z-index: 1030;
}
.menu a {
  color: #fff;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .top-nav{
    padding: 1em;
  }
}









