<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'es' }}">
{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-G6B4SB7N40"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include gtm_body.html %}

  {% include nav.html %}

  {{ content }}

  {% include footer.html %}

  {% include footer-scripts.html %}

</body>
</html>
